h1 {
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 25px;
    font-weight: bold;
}

button {
    height: 30px;
    border-radius: 7px;
    border-style: none;
    background-color: lightgray;
    font-weight: bold;
}

button:hover {
    cursor: grab;
    border-style: solid;
    border-color: black;
}

.useFull {
    width: 100%;
}

.forecast {
    width: 18%;
    background-color: darkgray;
    padding-left: 10px;
}

.wIconT {
    width: 80px;
    height: 80px;
    margin-top: -10px;
    margin-bottom: -25px;
}

.wIconL {
    width: 80px;
    height: 80px;
}

#searchButton {
    background-color: rgb(41, 166, 244);
    color: white;
}

#topSec {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, lightblue, darkblue);
    margin-bottom: 10px;
    height: 60px;
    color: white;
}

#stuffSec {
    display: flex;
    flex-wrap: wrap;
}

#leftSec {
    width: 23%;
    margin: 1%;
}

#leftSecTop {
    border-bottom-style: solid;
}

#rightSec {
    display: none;
    width: 73%;
    margin: 1%;
}

#today {
    border-style: solid;
    padding-left: 10px;
}

#forecastsContainer {
    display: flex;
    justify-content: space-between;
}

#uvIndexToday {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border-style: solid;
    background-color: greenyellow;
}